.card {
  width: 413px;
  height: 445px;
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  margin: 0;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
}
.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent url(../images/stateDefault.svg) no-repeat center
    center/cover;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.card__delete-btn:hover {
  background: transparent url(../images/stateHover.svg) no-repeat center
    center/cover;
}

.card__delete-btn:focus {
  outline: none;
  opacity: initial 1;
}

.card__title {
  max-width: 390px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(33, 33, 33, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  justify-self: end;
  border: none;
  background-color: transparent;
  background-image: url(../images/like-icon.svg);
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
  background: url(../images/stateHeartAct.svg) no-repeat center center/cover;
}

.card__like-btn:focus {
  outline: none;
  opacity: 1;
}

.card__like-btn_active {
  background: url(../images/heartAvtive.svg) no-repeat center center/cover;
  opacity: 1;
  transition: background 0.5s ease-in-out;
}

.card__like-btn_active:hover {
  background: url(../images/stateHeartLike.svg) no-repeat center center/cover;
}

@media only screen and (max-width: 627px) {
  .card {
    width: 288px;
    height: 318px;
    margin: 0;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__content {
    width: 288px;
    margin-top: 12px;
  }

  .card__title {
    max-width: 235px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
  }
}
