.profile {
  display: flex;
  padding: 34px 0 20px;
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0;
}

.profile__description {
  margin: 12px 0 0;
}

.profile__edit-btn {
  margin-top: auto;
  /* margin-right: auto; */
  padding: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.profile__pencil {
  margin-right: 8px;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  width: 194px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
}

.profile__plus-icon {
  fill: rgba(252, 245, 229, 1);
}

@media only screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    margin-top: 12px;
  }

  .profile__edit-btn {
    margin-top: 32px;
  }
  .profile__add-btn {
    margin: 20px 0 0;
  }
}
