.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
}

.modal__row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 36px;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  border-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: transparent url(../images/Close-Icon.svg) no-repeat center
    center/cover;
  transition: background 0.5s ease-in-out;
}

.modal__close-btn:hover {
  background: transparent url(../images/closeBlakeVariant.svg) no-repeat center
    center/cover;
}

.modal__title {
  margin: 0;
  font-size: 32px;
  text-align: center;
}

.modal__title--avatar {
  width: 285px;
  height: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form--orientation {
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.modal__label {
  display: block;
  margin: 0 0 32px;

}

.modal__input {
  display: block;
  width: 100%;
  margin: 8px 0 0;
  padding: 16px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__error {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  color: rgba(255, 0, 0, 1);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-size: 20px;
}

.modal__submit-btn {
  max-width: 156px;
  padding: 18px 32px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border: none;
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn_type_delete {
background-color: rgba(255, 101, 101, 1);
opacity: 1;
max-width: 156px;
width: 156px;
}

.modal__submit-btn_type_delete:hover {
background-color: rgba(255, 51, 51, 1);
opacity:1;
}

.modal__submit-btn_type_inactive {
  background-color: rgba(33, 33, 33, 0.5);
}

.modal__cancel-btn {
  max-width: 156px;
  background-color: rgb(255, 255, 255);
  width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.modal__cancel-btn:hover {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
}

.modal__cancel-btn_type_inactive {
  background-color: rgba(33, 33, 33, 0.5);
}

.modal__image-container {
  position: relative;
  border-radius: 8px;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  display: block;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  top: calc(100% + 12px);
  left: 0;
  margin: 0;
  padding: 4px 5px;
  display: inline;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  border-radius: 8px;
}

.modal__close-btn_type_preview {
  position: absolute;
  right: -52.5px;
  top: 0;
  background: transparent url(../images/previewCloseIcon.svg) no-repeat center
    center/cover;
}

.modal__close-btn_type_preview:hover {
  background: transparent url(../images/closeGrayVariant.svg) no-repeat center
    center/cover;
}

.modal__container--delete {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__title--font {
  font-size: 24px;
}


.modal__close-btn_type_delete {
  position: absolute;
  right: -52.5px;
  top: 0;
  background: transparent url(../images/previewCloseIcon.svg) no-repeat center
    center/cover;
}

.modal__close-btn_type_delete:hover {
  background: transparent url(../images/closeGrayVariant.svg) no-repeat center
    center/cover;
}

@media only screen  and (max-width: 850px){
.modal__close-btn_type_delete {
  right: 0;
  top: -48px;
}
}

@media only screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
}

@media only screen and (max-width: 420px) {
  .modal__container {
    padding: 12px;
  }

  .modal__row {
    align-items: center;
    margin: 0 0 24px;
  }


.modal__form--orientation {
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

  .modal__title {
    font-size: 20px;
    line-height: 120%;
  }

  .modal__caption {
    top: calc(100% + 8px);
    font-size: 16px;
  }

  .modal__label {
    margin: 0 0 24px;
    color: rgba(33, 33, 33, 0.7);

  }

  .modal__input::placeholder {
    font-size: 16px;

  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
}