.page {
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: rgba(33, 33, 33, 1);

  background-color: rgb(252, 245, 229);
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media only screen and (max-width: 627px) {
  .page__section {
    max-width: 288px;
  }
}
